<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MDKUIPickerList</key>
	<string>MDK_MDKUIPickerList</string>
	<key>MDKUIEnumList</key>
	<string>MDK_MDKUIEnumList</string>
	<key>MDKUIWebView</key>
	<string>MDK_MDKUIWebView</string>
	<key>MDKUIMedia</key>
	<string>MDK_MDKUIMedia</string>
	<key>MDKUIPosition</key>
	<string>MDK_MDKUIPosition</string>
	<key>MDKUIEnumImage</key>
	<string>MDK_MDKUIEnumImage</string>
	<key>MDKUISlider</key>
	<string>MDK_MDKUISlider</string>
	<key>MDKUIDateTime</key>
	<string>MDK_MDKUIDateTime</string>
	<key>MDKUIFixedList</key>
	<string>MDK_MDKUIFixedList</string>
	<key>MDKUISwitch</key>
	<string>MDK_MDKUISwitch</string>
	<key>MDKUINumberPicker</key>
	<string>MDK_MDKUINumberPicker</string>
	<key>MDKUIScanner</key>
	<string>MDK_MDKUIScanner</string>
	<key>MDKUISignature</key>
	<string>MDK_MDKUISignature</string>
</dict>
</plist>
